// @import '/node_modules/bootstrap/scss/functions';
// @import '/node_modules/bootstrap/scss/variables';
// @import '/node_modules/bootstrap/scss/mixins';


@import 'colors';
@import 'variables';

@import '/node_modules/bootstrap/scss/bootstrap';
// @import '~bootstrap/scss/bootstrap';

$fa-font-path: "/public/storage/webfonts";
@import "/node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "/node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "/node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "/node_modules/@fortawesome/fontawesome-free/scss/regular";

// $theme-colors: (
//     primary: $primary,
//     secondary: $secondary,
//     success: $success,
//     info: $info,
//     warning: $warning,
//     danger: $danger,
//     light: $light,
//     dark: $dark
//     );


* {
    box-sizing: border-box;
    word-wrap: break-word;
}

html {
    font-family: sans-serif;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}


section {
    padding: 7em;
    min-height: 100vh;
    scroll-snap-align: start;
    position: relative;

    &:last-of-type {
        background-color: $black;
        color: $primary;
        scroll-snap-align: start;
    }

}


section.home {

    $bgpath: "/storage/img/bg/";
    $type: ".jpg";
    $bgimgs: "1""light-technology-cable-line-blue-optics-573469-pxhere.com",
    "2""landscape-nature-rock-wilderness-walking-mountain-1382392-pxhere.com",
    "3""landscape-tree-nature-wilderness-mountain-snow-1372633-pxhere.com",
    "4""mountain-snow-winter-mountain-range-high-glacier-607264-pxhere.com",
    "5""landscape-nature-mountain-snow-winter-view-854303-pxhere.com",
    "6""landscape-nature-wilderness-mountain-trail-meadow-498047-pxhere.com";


    @each $child,
    $img in $bgimgs {
        &:nth-of-type(#{$child}) {
            background-image: url("#{$bgpath}/#{$img}#{$type}");
            //background-color: $light;
            background-size: cover;
            background-position: center center;
        }
    }

    &>div {
        // styling of container in center of site
        background: rgba($color: $dark, $alpha: 0.65);
        color: $light;
    }
}



.form-group .form-label:after {
    content: "*";
    color: $danger;
}


// in blade übertragen

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 99;
}

#navbar a {
    color: $dark;
    float: left;
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

// #navbar a:hover {
//     background-color: #ddd;
//     color: black;
// }

.unternehmen {
    height: 8em;
    width: 8em;
}

.news {
    color: $dark;

    & p {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
